/* SECTION ABOUT ME */
.section__me {
  width: 100vw;
  height: 1430px;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(../../assets/images/blacknwhite-min.png);
  background-attachment: initial;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );

  .prof__pic-container {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      width: 150px;
      border-radius: 50%;
    }
  }
  .prof__pic {
    height: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .description_me1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .description_me2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .description_me3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 15px;
  }
  .par_me {
    line-height: 20px;
    font-size: 16px;
    margin: 3px 10px 3px 10px;
    text-align: center;
    .strong_word {
      font-weight: 500;
      font-size: 24px;
    }
  }
  .fotos {
    height: 170px;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
  }
  .soros {
    height: 170px;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
  }
  .koccintos {
    height: 170px;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
  }
  .melo1 {
    height: 170px;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
  }
  .melo2 {
    height: 170px;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
  }
  .piknik {
    height: 170px;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .talalas {
    height: 170px;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
  }
  .img_heigth {
    height: 170px;
  }
}

@include tablet_screen {
  .section__me {
    margin-left: 4px;
    margin-right: 4px;
    grid-gap: 0;
    height: 950px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);

    .fotos {
      grid-row: 5 / 6;
      grid-column: 1 / 2;
      justify-content: center;
    }
    .soros {
      grid-row: 5 / 6;
      grid-column: 2 / 3;
      justify-content: center;
    }
    .koccintos {
      grid-row: 5 / 6;
      grid-column: 3 / 4;
      justify-content: center;
    }
    .melo1 {
      grid-row: 5 / 6;
      grid-column: 4 / 5;
      justify-content: center;
    }
    .melo2 {
      grid-row: 6 / 7;
      grid-column: 1 / 3;
      margin-top: 3px;
      justify-content: center;
    }
    .piknik {
      grid-row: 6 / 7;
      grid-column: 2 / 4;
      margin-top: 3px;
      display: flex;
      justify-content: center;
    }
    .talalas {
      grid-row: 6 / 7;
      grid-column: 3 / 5;
      margin-top: 3px;
      justify-content: center;
    }
    .img_heigth {
      height: 166px;
      width: 188px;
    }
  }
}

@include desktop_screen {
}
